{% extends 'base.html' %}
{% block title %}Chef Information{% endblock %}
{% load static %}


{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <!-- Chef Profile -->
        <div class="col-md-12">
            <div class="card text-center">
                <div class="card-body text-capitalize">
                    {% if chef_info.image %}
                    <img src="{{ chef_info.image.url }}" alt="Chef Image" class="img-fluid mb-3" width="200">
                    {% else %}
                    <img src="{% static 'images/default.jpg' %}" alt="Chef Image" class="img-fluid mb-3" width="200">
                    {% endif %}
                    <p class="card-title h2 font-weight-bold">
                        {% if chef_info.name %}
                        {{ chef_info.name }}
                        {% else %}
                        {{ chef_info.slug }}
                        {% endif %}
                    </p>
                    <p class="card-text h4 font-weight-bold text-danger">Chef Details:</p>
                    <p class="card-text font-weight-bold">Region: {{ chef_info.Region }}</p>
                    <p class="card-text font-weight-bold">Specialization: {{ chef_info.cuisine_specialization }}</p>
                    <p class="card-text font-weight-bold">Location: {{ chef_info.country }}, {{ chef_info.city }}</p>
                    <p class="card-text font-weight-bold">Gender: {{ chef_info.gender }}</p>
                    <p class="card-text font-weight-bold">Instructions/Schedules: {{ chef_info.instructions|safe }}</p>
                    <p class="card-text h4 font-weight-bold text-danger">Chef Social Accounts:</p>
                    <ul class="text-center">
                        {% if chef_info.facebook_link %}
                        <li class="list-inline-item pr-2"><a href="{{ chef_info.facebook_link }}"><i
                                    class="fa fa-facebook fa-2x text-info"></i></a></li>
                        {% endif %}
                        {% if chef_info.instagram_link %}
                        <li class="list-inline-item pr-2"><a href="{{ chef_info.instagram_link }}"><i
                                    class="fa fa-instagram fa-2x text-info"></i></a></li>
                        {% endif %}
                        {% if chef_info.tiktok_link %}
                        <li class="list-inline-item pr-2"><a href="{{ chef_info.tiktok_link }}"><i
                                    class="fa fa-twitter fa-2x text-info"></i></a></li>
                        {% endif %}
                        {% if chef_info.youtube_link %}
                        <li class="list-inline-item pr-2"><a href="{{ chef_info.youtube_link }}"><i
                                    class="fa fa-youtube fa-2x text-info"></i></a></li>
                        {% endif %}
                        {% if not chef_info.facebook_link and not chef_info.instagram_link and not chef_info.tiktok_link and not chef_info.youtube_link %}
                        <li class="list-inline-item pr-2">No social media links provided</li>
                        {% endif %}
                    </ul>
                    <p class="card-text h4 font-weight-bold text-danger">Chef's Specials Dishes:</p>
                    {% if chef_info.dish1 %}
                    <img src="{{ chef_info.dish1.url }}" alt="Dish 1">
                    {% endif %}
                    {% if chef_info.dish2 %}
                    <img src="{{ chef_info.dish2.url }}" alt="Dish 2">
                    {% endif %}
                    {% if chef_info.dish3 %}
                    <img src="{{ chef_info.dish3.url }}" alt="Dish 3">
                    {% endif %}
                    {% if chef_info.dish4 %}
                    <img src="{{ chef_info.dish4.url }}" alt="Dish 4">
                    {% endif %}
                    
                    <!-- Show a message if no special dishes are provided -->
                    {% if not chef_info.dish1 and not chef_info.dish2 and not chef_info.dish3 and not chef_info.dish4 %}
                    <p>No special dishes to show at the moment.</p>
                    {% endif %}
                </div>
            </div>
        </div>

        <!-- User Comments Section -->
        <h2>Comments</h2>
        <ul>
            {% for comment in comments %}
            {% if comment.is_approved %}
            <li>{{ comment.name }} said: {{ comment.comment }}</li>
            {% endif %}
            {% endfor %}
        </ul>
    </div>
    <!-- User Comments Section -->
    <div class="col-md-8 mt-4">
        <h3>Comment Form</h3>

        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit">Submit Comment</button>
        </form>
    </div>
</div>
{% endblock content %}