{% extends 'base.html' %}
{% block title %}Chef Information{% endblock %}
{% load static %}

{% block content %}

{% with request.resolver_match.url_name as url_name %}
{% if request.user.is_authenticated %}
<div>
    <a href="{% url 'chefs:my_profile' %}" class="btn ms-1 as-public-btn mt-5" aria-label="Button to back to my profile page">Back To My Profile</a>
</div>
{% else %}
<div>
    <a href="{% url 'chefs:chefs_list' %}" class="btn ms-1 as-public-btn mt-5" aria-label="Button to back to all chefs cards page">Back To Chefs Cards</a>
</div>
{% endif %}
{% endwith %}
<section class="section-bg-white">
    <div class="container py-5">
        <div class="row">
            <div class="col-lg-4">
                <div class="card mb-4">
                    <div class="card-body text-center">
                        {% if chef_info.image %}
                        <img src="{{ chef_info.image.url }}" alt="Chef Image" class="img-fluid rounded-3 chef-profile-img">
                        {% else %}
                        <img src="{% static 'images/default.jpg' %}" alt="Chef Image Not Set" class="rounded-3 img-fluid chef-profile-img">
                        {% endif %}
                        <h5 class="my-3">
                            {% if chef_info.name %}
                            {{ chef_info.name|title }}
                            {% else %}
                            {{ chef_info.slug|title }}
                            {% endif %}
                        </h5>
                        <p class="text-muted mb-1">Region: {{ chef_info.Region }}</p>
                        {% if chef_info.country and chef_info.city %}
                        <p class="text-muted mb-4 location-info">Location: {{ chef_info.country|title }} | {{ chef_info.city|title }}</p>
                        {% elif not chef_info.country and chef_info.city %}
                        <p class="text-muted mb-4 location-info">Location: Country Not Set | {{ chef_info.city|title }}</p>
                        {% elif chef_info.country and not chef_info.city %}
                        <p class="text-muted mb-4 location-info">Location: {{ chef_info.country|title }} | City Not Set</p>
                        {% elif not chef_info.country and not chef_info.city %}
                        <p class="text-muted mb-4 location-info">Location: Not Set | Not Set</p>
                        {% endif %}
                    </div>
                </div>
                <div class="card mb-4 mb-lg-0 instructions-text-container instructions-chef-info">
                    <div class="card-body p-3">
                        <ul class="list-group list-group-flush rounded-3">
                            <p class="mb-4 text-center m-2"><span class=" me-1">Instructions/Schedules:</span></p>
                            {% if chef_info.instructions %}
                            <div class="instructions-text">{{ chef_info.instructions|safe }}</div>
                            {% elif not chef_info.instructions %}
                            <div class="instructions-text">Not Provided By The Chef</div>
                            {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Cook Specialization:</p>
                            </div>
                            <div class="col-sm-9">
                                {% if chef_info.cuisine_specialization %}
                                <p class="text-muted mb-0">{{ chef_info.cuisine_specialization|title }}</p>
                                {% elif not chef_info.cuisine_specialization %}
                                <p class="text-muted mb-0">Not Set</p>
                                {% endif %}
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Gender:</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{ chef_info.gender }}</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Email:</p>
                            </div>
                            <div class="col-sm-9">
                                {% if chef_info.email %}
                                <p class="text-muted mb-0">{{ chef_info.email|lower }}</p>
                                {% elif not chef_info.email %}
                                <p class="text-muted mb-0">Not Set</p>
                                {% endif %}
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Phone:</p>
                            </div>
                            <div class="col-sm-9">
                                {% if chef_info.phone_number %}
                                <p class="text-muted mb-0">{{ chef_info.phone_number }}</p>
                                {% elif not chef_info.phone_number %}
                                <p class="text-muted mb-0">Not Set</p>
                                {% endif %}
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0 d-flex justify-content-between align-items-center pt-3">Social Media
                                    Links:</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">
                                <ul class="list-group-item d-flex align-items-center p-3 socail-links-list">
                                    {% if chef_info.facebook_link %}
                                    <li class="list-inline-item"><a href="{{ chef_info.facebook_link }}" rel="noopener" target="_blank" aria-label="Facebook - Opens in a new tab"><i class="fab fa-facebook-f fa-lg facebook-icon"></i></a></li>
                                    {% endif %}
                                    {% if chef_info.instagram_link %}
                                    <li class="list-inline-item pr-2"><a href="{{ chef_info.instagram_link }}" rel="noopener" target="_blank" aria-label="Instagram - Opens in a new tab"><i class="fab fa-instagram fa-lg instagram-icon"></i></a></li>
                                    {% endif %}
                                    {% if chef_info.tiktok_link %}
                                    <li class="list-inline-item pr-2"><a href="{{ chef_info.tiktok_link }}" rel="noopener" target="_blank" aria-label="Tiktok - Opens in a new tab"><i class="fab fa-tiktok fa-lg tiktok-icon"></i></a></li>
                                    {% endif %}
                                    {% if chef_info.youtube_link %}
                                    <li class="list-inline-item pr-2"><a href="{{ chef_info.youtube_link }}" rel="noopener" target="_blank" aria-label="Youtube - Opens in a new tab"><i class="fab fa-youtube fa-lg youtube-icon"></i></a></li>
                                    {% endif %}
                                    {% if not chef_info.facebook_link and not chef_info.instagram_link and not chef_info.tiktok_link and not chef_info.youtube_link %}
                                    <p class="text-muted mb-0">No social media links provided</p>
                                    {% endif %}
                                </ul>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="card mb-4 mb-md-0">
                            <div class="card-body">
                                {% if chef_info.dish1 %}
                                <img src="{{ chef_info.dish1.url }}" alt="Chef Image" class="img-fluid dish-img dish1-img">
                                {% else %}
                                <img src="{% static 'images/no-image.jpeg' %}" alt="No Dish Image"
                                    class="img-fluid dish-img">
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card mb-4 mb-md-0">
                            <div class="card-body">
                                {% if chef_info.dish2 %}
                                <img src="{{ chef_info.dish2.url }}" alt="Chef Image" class="img-fluid dish-img dish2-img">
                                {% else %}
                                <img src="{% static 'images/no-image.jpeg' %}" alt="No Dish Image"
                                    class="img-fluid dish-img">
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="card mb-4 mb-md-0">
                <div class="card-body">
                    {% if chef_info.dish3 %}
                    <img src="{{ chef_info.dish3.url }}" alt="Chef Image" class="img-fluid dish-img dish3-img">
                    {% else %}
                    <img src="{% static 'images/no-image.jpeg' %}" alt="No Dish Image" class="img-fluid dish-img">
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4 mb-md-0">
                <div class="card-body">
                    {% if chef_info.dish4 %}
                    <img src="{{ chef_info.dish4.url }}" alt="Chef Image" class="img-fluid dish-img dish4-img">
                    {% else %}
                    <img src="{% static 'images/no-image.jpeg' %}" alt="No Dish Image" class="img-fluid dish-img">
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4 mb-md-0">
                <div class="card-body">
                    {% if chef_info.dish5 %}
                    <img src="{{ chef_info.dish5.url }}" alt="Chef Image" class="img-fluid dish-img dish5-img">
                    {% else %}
                    <img src="{% static 'images/no-image.jpeg' %}" alt="No Dish Image" class="img-fluid dish-img">
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
<!-- start approved comments section -->
<div class="container">
    <div class="comments-approved">
        <h6>Comments</h6>
        {% for comment in comments %}
        {% if comment.is_approved %}
        <section class="section-bg-white">
            <div class="container my-5">
                <div class="row d-flex justify-content-center">
                    <div class="col-md-12 col-lg-10 col-xl-8">
                        <div class="card">
                            <div class="card-body">
                                <div class="d-flex flex-start align-items-center">
                                    <div>
                                        <h6 class="fw-bold mb-1">{{ comment.name|title }}</h6>
                                        <p class="text-muted small mb-0">
                                            Shared publicly - {{ comment.created_at|date:"Y-m-d" }}
                                        </p>
                                    </div>
                                </div>
                                <p class="mt-3 mb-4"> {{ comment.comment }}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        {% endif %}
        {% endfor %}
    </div>
</div>
<!-- end approved comments section -->
<!-- start comment form Section -->
<div class="container">
    <div class="comment-box">
        <h6>Leave a Comment</h6>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="comment-btn btn">Submit Comment</button>
        </form>
    </div>
</div>
<!-- end comment form Section -->
{% endblock content %}