{% extends 'base.html' %}
{% load static %}


{% block content %}
<!-- Search -->
<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <form class="input-group" action="{% url 'chefs:chefs_list' %}">
                <input type="text" class="form-control text-danger" name="search" placeholder="Chefs location...">
                <div class="input-group-append">
                    <button class="btn btn-info" type="button">Search</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- endsearch -->
<div class="container mt-5">
    <div class="row justify-content-center">
        <!-- Chef Card -->
        {% for chef in chefs %}
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                {% if chef.profile.image %}
                <img src="{{ chef.profile.image.url }}" class="card-img-top" alt="Chef">
                {% else %}
                <img src="{% static 'images/default.jpg' %}" class="card-img-top" alt="No Photo">
                {% endif %}
                <div class="card-body text-center text-capitalize d-flex flex-column">
                    <p class="card-title h5 font-weight-bold">Chef: {{ chef.profile.name }}</p>
                    <p class="card-text text-info">Region: {{ chef.profile.Region }}</p>
                    <p class="card-text text-info">Specialization: {{ chef.profile.cuisine_specialization }}</p>
                    <p class="card-text text-danger">Location: {{ chef.profile.country }}, {{ chef.profile.city }}</p>
                    <p class="card-text">Joined Us On: {{ chef.profile.created_on|date:"Y-m-d" }}</p>
                    <a href="{% url 'chefs:chef_info' chef.profile.slug %}" class="btn btn-info mt-auto">View Profile</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>


{% endblock content %}