{% extends 'base.html' %}
{% load static %}


{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <!-- Chef Profile -->
        <div class="col-md-12">
            <div class="card text-center">
                <div class="card-body text-capitalize">
                    {% if chef_info.image %}
                    <img src="{{ chef_info.image.url }}" alt="Chef Image" class="img-fluid mb-3" width="200">
                    {% else %}
                    <img src="{% static 'images/default.jpg' %}" alt="Chef Image" class="img-fluid mb-3" width="200">
                    {% endif %}
                    <p class="card-title h2 font-weight-bold">
                        {% if chef_info.name %}
                        {{ chef_info.name }}
                        {% else %}
                        {{ chef_info.slug }}
                        {% endif %}
                    </p>
                    <p class="card-text h4 font-weight-bold text-danger">Chef Details:</p>
                    <p class="card-text font-weight-bold">Region: {{ chef_info.Region }}</p>
                    <p class="card-text font-weight-bold">Specialization: {{ chef_info.cuisine_specialization }}</p>
                    <p class="card-text font-weight-bold">Location: {{ chef_info.country }}, {{ chef_info.city }}</p>
                    <p class="card-text font-weight-bold">Gender: {{ chef_info.gender }}</p>
                    <p class="card-text font-weight-bold">Instructions/Schedules: {{ chef_info.instructions }}</p>
                    <p class="card-text h4 font-weight-bold text-danger">Chef Social Accounts:</p>
                    <ul class="text-center">
                        <li class="list-inline-item pr-2 "><a href="#"><i
                                    class="fa fa-facebook fa-2x text-info"></i></a>
                        </li>
                        <li class="list-inline-item pr-2"><a href="#"><i
                                    class="fa fa-instagram fa-2x text-info"></i></a>
                        </li>
                        <li class="list-inline-item pr-2"><a href="#"><i class="fa fa-twitter fa-2x text-info"></i></a>
                        </li>
                        <li class="list-inline-item pr-2"><a href="#"><i class="fa fa-youtube fa-2x text-info"></i></a>
                        </li>
                    </ul>
                    <p class="card-text h4 font-weight-bold text-danger">Chef's Specials Dishes:</p>
                </div>
            </div>
        </div>

        <!-- User Comments Section -->
        <h2>Comments</h2>
        <ul>
            {% for comment in comments %}
            {% if comment.is_approved %}
            <li>{{ comment.name }} said: {{ comment.comment }}</li>
            {% endif %}
            {% endfor %}
        </ul>
    </div>
    <!-- User Comments Section -->
    <div class="col-md-8 mt-4">
        <h3>Comment Form</h3>

        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit">Submit Comment</button>
        </form>
    </div>
</div>
{% endblock content %}