{% extends 'base.html' %}
{% block title %}Chefs{% endblock %}
{% load static %}


{% block content %}
<!-- start search section -->
<div class="container mt-4 search-bar-container">
    <div class="col-lg-6">
        <form class="d-flex input-group" action="{% url 'chefs:chefs_list' %}">
            <input class="form-control me-2" type="text" name="search" placeholder="Search by location"
                aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
    </div>
</div>
<!-- end search section -->

<!-- Chef Card -->
<section class="container">
    <div class="row">
        <div class="col-md-12">
            <h2 class="text-center my-5">Meet Our Chefs</h2>
        </div>
        {% for chef in chefs %}
        {% if not chef.profile.slug == "admin" %}
        <div class="col-lg-4 col-md-6 col-sm-12 my-2">
            <div class="shadow d-flex justify-content-center align-items-center p-3 bg-dark rounded-lg flex-column rounded-3">
                <div class="person-img">
                    {% if chef.profile.image %}
                    <img src="{{ chef.profile.image.url }}" class="img-fluid rounded-circle p-img img-200-size" alt="Chef Image">
                    {% else %}
                    <img src="{% static 'images/default.jpg' %}" class="img-fluid rounded-circle img-200-size" alt="Chef Image Not Set">
                    {% endif %}
                </div>
                <div class="person-name my-2">
                    <h3 class="text-white chefs-card-name">Chef: 
                        {% if chef.profile.name %}
                        {{ chef.profile.name }}
                        {% else %}
                        {{ chef.username }}
                        {% endif %}
                    </h3>
                </div>
                <div class="info text-center">
                    <h6 class="text-white">Region: {{ chef.profile.Region }}</h6>
                    <h6 class="text-white">Location: {{ chef.profile.country }}, {{ chef.profile.city }}</h6>
                    <h6 class="text-white">Cook-Exp: {{ chef.profile.cuisine_specialization }}</h6>
                </div>
                <div class="social-icons my-2">
                    <h6 class="text-white">Member Since: {{ chef.profile.created_on|date:"Y-m-d" }}</h6>
                </div>
                <a href="{% url 'chefs:chef_info' chef.profile.slug %}" class="btn view-btn">View Profile</a>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
</section>
<!-- Chef Card -->
{% endblock content %}