{% extends 'base.html' %}
{% load static %}


{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <!-- Chef Profile -->
        <div class="col-md-12">
            <div class="card text-center">
                <div class="card-body text-capitalize">
                    {% if user.profile.image %}
                    <img src="{{ user.profile.image.url }}" alt="Chef Image" class="img-fluid mb-3" width="200">
                    {% else %}
                    <img src="{% static 'images/default.jpg' %}" alt="Chef Image" class="img-fluid mb-3" width="200">
                    {% endif %}
                    <p class="card-title h2 font-weight-bold">
                    {% if user.profile.name %}
                    {{ user.profile.name }}
                    {% else %}
                    {{ user.username }}
                    {% endif %}</p>
                    <p class="card-text h4 font-weight-bold text-danger">Chef Details:</p>
                    <p class="card-text font-weight-bold">Region: {{ user.profile.Region }}</p>
                    <p class="card-text font-weight-bold">Specialization: {{ user.profile.cuisine_specialization }}</p>
                    <p class="card-text font-weight-bold">Location: {{ user.profile.country }}, {{ user.profile.city }}
                    </p>
                    <p class="card-text font-weight-bold">Gender: {{ user.profile.gender }}</p>
                    <p class="card-text font-weight-bold">Instructions/Schedules: {{ user.profile.instructions }}</p>
                    <p class="card-text h4 font-weight-bold text-danger">Chef Social Accounts:</p>
                    <ul class="text-center">
                        <li class="list-inline-item pr-2 "><a href="#"><i
                                    class="fa fa-facebook fa-2x text-info"></i></a>
                        </li>
                        <li class="list-inline-item pr-2"><a href="#"><i
                                    class="fa fa-instagram fa-2x text-info"></i></a>
                        </li>
                        <li class="list-inline-item pr-2"><a href="#"><i class="fa fa-twitter fa-2x text-info"></i></a>
                        </li>
                        <li class="list-inline-item pr-2"><a href="#"><i class="fa fa-youtube fa-2x text-info"></i></a>
                        </li>
                    </ul>
                    <p class="card-text h4 font-weight-bold text-danger">Chef's Specials Dishes:</p>
                </div>
            </div>
        </div>
        <div>
            <a href="{% url 'chefs:delete_profile' %}">Delete My Profile</a>
        </div>
    </div>
</div>
{% endblock content %}