{% extends 'base.html' %}
{% block title %}Home{% endblock %}

{% block content %}
<section class="landing">
    <div class="container">
        <div class="row py-5">
            <div class="col-lg-7 text-center pt-5">
                <h1 class="pt-5">Home Chefs Delights, Where Flavor Meets Passion!</h1>
                <h5>Unleash your dishes, share your information, schedules and let the fellow food enthusiasts to
                    contact you!</h4>
                <button class="mt-3 btn-signup">Register</button>
            </div>
        </div>
    </div>
</section>


{% endblock %}