{% extends 'base.html' %}
{% load static %}


{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <!-- Chef Profile -->
        <div class="col-md-12">
            <div class="card text-center">
                <div class="card-body text-capitalize">
                    {% if chef_info.image %}
                    <img src="{{ chef_info.image.url }}" alt="Chef Image" class="img-fluid mb-3" width="200">
                    {% else %}
                    <img src="{% static 'static_group1/img/default.jpg' %}" alt="Chef Image" class="img-fluid mb-3"
                        width="200">
                    {% endif %}
                    <p class="card-title h2 font-weight-bold">{{ chef_info.name }}</p>
                    <p class="card-text h4 font-weight-bold text-danger">Chef Details:</p>
                    <p class="card-text font-weight-bold">Specialization: {{ chef_info.cuisine_specialization }}</p>
                    <p class="card-text font-weight-bold">Location: {{ chef_info.city }}, {{ chef_info.country }}</p>
                    <p class="card-text font-weight-bold">Phone: {{ chef_info.phone_number }}</p>
                    <p class="card-text font-weight-bold">Email: {{ chef_info.email }}</p>
                    <p class="card-text h4 font-weight-bold text-danger">Chef Social Accounts:</p>
                    <ul class="text-center">
                        <li class="list-inline-item pr-2 "><a href="{{ chef_info.facebook_account }}"><i class="fa fa-facebook fa-2x text-info"></i></a>
                        </li>
                        <li class="list-inline-item pr-2"><a href="{{ chef_info.instagram }}"><i class="fa fa-instagram fa-2x text-info"></i></a>
                        </li>
                        <li class="list-inline-item pr-2"><a href="{{ chef_info.twitter_account }}"><i class="fa fa-twitter fa-2x text-info"></i></a>
                        </li>
                        <li class="list-inline-item pr-2"><a href="{{ chef_info.youtube_account }}"><i class="fa fa-youtube fa-2x text-info"></i></a>
                        </li>
                    </ul>
                    <p class="card-text h4 font-weight-bold text-danger">Chef's Specials Dishes:</p>
                </div>
            </div>
        </div>

        <!-- User Comments Section -->
        <div class="col-md-8 mt-4">
            <h3>Comments</h3>

            <form action="#" method="post">
                <div class="form-group">
                    <label for="name">Name:</label>
                    <input type="text" id="name" name="name" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="comment">Comment:</label>
                    <textarea id="comment" name="comment" rows="4" class="form-control" required></textarea>
                </div>
                <button type="submit" class="btn btn-info">Submit</button>
            </form>
        </div>
    </div>
</div>
{% endblock content %}