
{% extends 'base.html' %}
{% load static %}


{% block content %}
<!-- Search -->
<div class="">
    <div class="container " style="margin-top: 10rem">
    </div>
</div>
<!-- endsearch -->

<!-- job_listing_area_end  -->
</div>
<!-- featured_candidates_area_start  -->
<div class="featured_candidates_area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section_title text-center mb-40">
                    <h3> recommend</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="candidate_active owl-carousel">
                    <div class="single_candidates text-center">
                        <div class="thumb">
                            <img class="img-circle " src="" alt="">

                        </div>
                        <a href="">
                            <h4>name</h4>
                        </a>
                        <p> major</p>
                        <div class="best-rating">
                            <div class="text-warning">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>

                            </div>
                            <div class="best-rating">
                                <h5> Chefs Rating</h5>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- featured_candidates_area_end  -->


{% endblock content %}