{% extends 'base.html' %}
{% load static %}


{% block content %}
<!-- Search -->
<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <form class="input-group">
                <input type="text" class="form-control text-danger" placeholder="Chefs location...">
                <div class="input-group-append">
                    <button class="btn btn-info" type="button">Search</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- endsearch -->
<div class="container mt-5">
    <div class="row justify-content-center">
        <!-- Chef Card -->
        {% for chef in chefs %}
        <div class="col-md-4">
            <div class="card mb-4"> <!-- Added margin-bottom -->
                {% if chef.profile.image %}
                <img src="{{chef.profile.image.url}}" class="card-img-top" alt="Chef">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">Chef John Doe</h5>
                    <p class="card-text">Specialization: Italian Cuisine</p>
                    <p class="card-text">Experience: 15 Years</p>
                    <p class="card-text">Location: New York, NY</p>
                    <a href="#" class="btn btn-info">View Profile</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>


{% endblock content %}