/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Oswald:wght@200..700&display=swap');

/* global scope variables */
:root {
    --title: 'Oswald', serif;
    --main-font: 'Arimo', serif;
    --main-color: rgb(33, 37, 41)
}

/* global rules */
html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    font-family: var(--main-font);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--title);
}

main {
    flex: 1 0 auto;
    background-color: white;
}

/* start landing section */
.landing {
    background: url(../images/landing.jpg) no-repeat;
    background-size: cover;
    height: 90vh;
    width: 100%;
    display: flex;
    align-items: center;
}

.landing h1 {
    font-weight: 700;
    color: var(--main-color);
}

.landing h5 {
    color: var(--, --main-color);
}

.landing .btn-signup {
    height: 45px;
    width: 35%;
    border: none;
    outline: none;
    background-color: var(--main-color);
    font-weight: 700;
    color: white;
    border-radius: 60px;
}

/* end landing section */

/* start about section */
.about-title {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    color: var(--main-color);
    font-weight: 700;
    text-decoration: underline;
}

@media (max-width: 992px) {
    .img {
        display: none;
    }

    .accordion {
        width: 100%;
    }
}

.accordion-button:not(.collapsed) {
    color: var(--main-color);
    background-color: #fff;
    box-shadow: 0 2px 4px var(--main-color);
}

.accordion-button:focus {
    box-shadow: none;
}

.accordion-button:focus {
    box-shadow: 0 2px 4px var(--main-color);
}

.accordion-item {
    color: #FFF;
    background-color: var(--main-color);
}

.div-chefs-btn {
    display: flex;
    justify-content: center;
}

.btn-chefs {
    height: 45px;
    width: 35%;
    border: none;
    outline: none;
    background-color: #fff;
    font-weight: 700;
    color: var(--main-color);
    border-radius: 60px;
    align-items: center;
    transition: background-color 0.4s, color 0.4s;
}

.btn-chefs:hover {
        background-color: #7ab66b;
        color: #fff;
}

code {
    color: #7ab66b;
    font-weight: bold;
    font-size: 18px;
}
/* end about section */