<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="global culinary website where home chefs from diverse backgrounds converge to showcase their information and passion for food.">
    <meta name="keywords"
        content="home chefs, food, hunger, home food, food dishes, food images, chefs, homemade food, chefs information">
    {% load static %}
    <!-- bootstrap5-css -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.0/css/bootstrap.min.css"
        integrity="sha512-XWTTruHZEYJsxV3W/lSXG1n3Q39YIWOstqvmFsdNEEQfHoZ6vm6E9GK2OrF6DSJSpIbRbi+Nn0WDPID9O7xB2Q=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- my css file + favicon-->
    <link rel="stylesheet" href="{% static '/css/base.css' %}">
    <link rel="shortcut icon" href="{% static '/images/favicon/favicon.ico' %}">

    <title>HomeTaste - {% block title %}{% endblock %}</title>
</head>

<body>
    <!-- start nav bar section -->
    {% with request.resolver_match.url_name as url_name %}
    <nav class="navbar navbar-expand-xl navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand fs-2 fw-bold" href="{% url 'home' %}"><span class="home-word">Home</span>Taste</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarDark"
                aria-controls="navbarDark" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse show" id="navbarDark">
                <ul class="navbar-nav ms-auto mb-2 mb-xl-0 fs-5 ms-auto p-2 text-center">
                    <li class="nav-item me-3">
                        <a class="nav-link {% if url_name == 'home' %}active{% endif %}" aria-current="page"
                            href="{% url 'home' %}">Home</a>
                    </li>
                    <li class="nav-item me-3">
                        <a class="nav-link {% if url_name == 'chefs_list' %}active{% endif %}"
                            href="{% url 'chefs:chefs_list' %}">Chefs</a>
                    </li>
                    {% if request.user.is_authenticated %}
                    <li class="nav-item me-3">
                        <a class="nav-link {% if url_name == 'my_profile' %}active{% endif %}"
                            href="{% url 'chefs:my_profile' %}">My Profile</a>
                    </li>
                    <li class="nav-item me-3">
                        <a class="nav-link {% if url_name == 'edit_profile' %}active{% endif %}"
                            href="{% url 'chefs:edit_profile' %}">Edit Profile</a>
                    </li>
                    <li class="nav-item me-3">
                        <a class="nav-link {% if url_name == 'account_logout' %}active{% endif %}"
                            href="/accounts/logout/">Logout</a>
                    </li>
                    {% else %}
                    <li class="nav-item me-3">
                        <a class="nav-link {% if url_name == 'account_login' %}active{% endif %}"
                            href="/accounts/login/">Login</a>
                    </li>
                    <li class="nav-item me-3">
                        <a class="nav-link {% if url_name == 'account_signup' %}active{% endif %}"
                            href="/accounts/signup/">Register</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    {% endwith %}
    <!-- end nav bar section -->

    <!-- start content section -->
    <main>
        {% block content %}

        {% endblock content %}
    </main>
    <!-- end content section -->

    <!-- start footer section -->
    <footer class="bg-dark py-5 mt-5">
        <div class="container text-light text-center">
            <p class="display-6 mb-3"><span class="home-word">Home</span>Taste</p>
            <p class="mb-3">Cooked With Love</p>
            <div class="mb-2">
                <!-- social media links -->
                <span class="btn btn-outline-black" type="button"><a href="https://twitter.com/" rel="noopener"
                        target="_blank" aria-label="Twitter - Opens in a new tab"><i
                            class="fa-brands fa-x-twitter text-white fa-2x"></i></a></span>
                <span class="btn btn-outline-black" type="button"><a href="https://www.facebook.com/" rel="noopener"
                        target="_blank" aria-label="Facebook - Opens in a new tab"><i
                            class="fa-brands fa-facebook text-white fa-2x"></i></a></span>
                <span class="btn btn-outline-black" type="button"><a href="https://www.instagram.com/" rel="noopener"
                        target="_blank" aria-label="Instagram - Opens in a new tab"><i
                            class="fa-brands fa-instagram text-white fa-2x"></i></a></span>
                <span class="btn btn-outline-black" type="button"><a href="https://www.tiktok.com/" rel="noopener"
                        target="_blank" aria-label="Tiktok - Opens in a new tab"><i
                            class="fa-brands fa-tiktok text-white fa-2x"></i></a></span>
            </div>
            <small class="text-white-50">&copy;
                <script>document.write(new Date().getFullYear());</script> Home Taste. All Rights Reserved
            </small>
        </div>
    </footer>
    <!-- end footer section -->

    <!-- bootstrap5-js -->
    {% block onload_js %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.0/js/bootstrap.min.js"
        integrity="sha512-8Y8eGK92dzouwpROIppwr+0kPauu0qqtnzZZNEF8Pat5tuRNJxJXCkbQfJ0HlUG3y1HB3z18CSKmUo7i2zcPpg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- fontawesome -->
    <script src="https://kit.fontawesome.com/531f8f059e.js" crossorigin="anonymous"></script>
    <!-- my main.js file -->
    <script src="{% static '/js/main.js' %}"></script>
    {% endblock %}

</body>

</html>