{% load static %}
<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Home Taste</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- <link rel="manifest" href="site.webmanifest"> -->
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'static_group1/img/favicon.png'%}">
    <!-- Place favicon.ico in the root directory -->

    <!-- CSS here -->
    <link rel="stylesheet" href="{% static 'static_group1/css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="{% static 'static_group1/css/owl.carousel.min.css'%}">
    <link rel="stylesheet" href="{% static 'static_group1/css/magnific-popup.css'%}">
    <link rel="stylesheet" href="{% static 'static_group1/css/font-awesome.min.css'%}">
    <link rel="stylesheet" href="{% static 'static_group1/css/themify-icons.css'%}">
    <link rel="stylesheet" href="{% static 'static_group1/css/nice-select.css'%}">
    <link rel="stylesheet" href="{% static 'static_group1/css/flaticon.css'%}">
    <link rel="stylesheet" href="{% static 'static_group1/css/gijgo.css'%}">
    <link rel="stylesheet" href="{% static 'static_group1/css/animate.min.css'%}">
    <link rel="stylesheet" href="{% static 'static_group1/css/slicknav.css'%}">

    <link rel="stylesheet" href="{% static 'static_group1/css/style.css'%}">
    <!-- <link rel="stylesheet" href="css/responsive.css"> -->
    <link rel="stylesheet" href="{% static 'static_group2/css/style.css'%}">
</head>

<body>

    <!-- header-start -->
    <header>
        <nav class="navbar navbar-expand-md navbar-dark bg-light">
            <!-- Logo and Website Name on the Left -->
            <a class="navbar-brand mr-2" href="#">
                <h2 class="text-info font-weight-bold pl-2">HOME-TASTE</h2>
            </a>

            <!-- Hamburger Icon (Toggler) -->
            <button class="navbar-toggler bg-danger ml-auto d-md-none" type="button" data-toggle="collapse"
                data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Middle Section with Navigation Links -->
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto mr-2">
                    <li class="nav-item active">
                        <a class="nav-link text-danger h5" href="#">HOME |</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-danger h5" href="#">CHEFS |</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-danger h5" href="#">CONTACT |</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-danger h5" href="#">LOGIN |</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-danger h5" href="#">SIGN UP |</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <!-- header-end -->

    <!-- start content section -->

    {% block content %}

    {% endblock content %}

    <!-- end content section -->


    <!-- footer start -->
    <footer class="bg-light m-auto">
        <div class="container">
            <div class="row ">
                <!-- Section 1 -->
                <div class="col-12 col-md-6 col-lg-6">
                    <h3 class="text-center pb-2 pt-5 text-info font-weight-bold">
                        Our Mission
                    </h3>
                    <p class="text-center text-info font-weight-bold">Discover global home chefs through our website.
                        Explore their contact details and place orders directly.</p>
                </div>
                <!-- Section 2 -->
                <div class="col-12 col-md-6 col-lg-6">
                    <div class="socail_links">
                        <h3 class="text-center pb-2 pt-5 text-danger">Connect With Us</h3>
                        <ul class="text-center">
                            <li class="list-inline-item pr-2"><a href="#"><i
                                        class="ti-facebook fa-2x text-danger"></i></a>
                            </li>
                            <li class="list-inline-item pr-2"><a href="#"><i
                                        class="fa fa-youtube fa-2x text-danger"></i></a>
                            </li>
                            <li class="list-inline-item pr-2"><a href="#"><i
                                        class="fa fa-twitter fa-2x text-danger"></i></a>
                            </li>
                            <li class="list-inline-item pr-2"><a href="#"><i
                                        class="fa fa-instagram fa-2x text-danger"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row pt-3">
                <div class="col-12">
                    <p class="copy_right text-center text-dark">
                        &copy;
                        <script>document.write(new Date().getFullYear());</script> Home-Taste. All Rights Reserved
                    </p>
                </div>
            </div>
        </div>
    </footer>
    <!--/ footer end  -->

    <!-- link that opens popup -->
    <!-- JS here -->
    <script src="{% static 'static_group1/js/vendor/modernizr-3.5.0.min.js'%}"></script>
    <script src="{% static 'static_group1/js/vendor/jquery-1.12.4.min.js'%}"></script>
    <script src="{% static 'static_group1/js/popper.min.js'%}"></script>
    <script src="{% static 'static_group1/js/bootstrap.min.js'%}"></script>
    <script src="{% static 'static_group1/js/owl.carousel.min.js'%}"></script>
    <script src="{% static 'static_group1/js/isotope.pkgd.min.js'%}"></script>
    <script src="{% static 'static_group1/js/ajax-form.js'%}"></script>
    <script src="{% static 'static_group1/js/waypoints.min.js'%}"></script>
    <script src="{% static 'static_group1/js/jquery.counterup.min.js'%}"></script>
    <script src="{% static 'static_group1/js/imagesloaded.pkgd.min.js'%}"></script>
    <script src="{% static 'static_group1/js/scrollIt.js'%}"></script>
    <script src="{% static 'static_group1/js/jquery.scrollUp.min.js'%}"></script>
    <script src="{% static 'static_group1/js/wow.min.js'%}"></script>
    <script src="{% static 'static_group1/js/nice-select.min.js'%}"></script>
    <script src="{% static 'static_group1/js/jquery.slicknav.min.js'%}"></script>
    <script src="{% static 'static_group1/js/jquery.magnific-popup.min.js'%}"></script>
    <script src="{% static 'static_group1/js/plugins.js'%}"></script>
    <script src="{% static 'static_group1/js/gijgo.min.js'%}"></script>



    <!--contact js-->
    <script src="{% static 'static_group1/js/contact.js'%}"></script>
    <script src="{% static 'static_group1/js/jquery.ajaxchimp.min.js'%}"></script>
    <script src="{% static 'static_group1/js/jquery.form.js'%}"></script>
    <script src="{% static 'static_group1/js/jquery.validate.min.js'%}"></script>
    <script src="{% static 'static_group1/js/mail-script.js'%}"></script>


    <script src="{% static 'static_group1/js/main.js'%}"></script>
</body>

</html>