{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block extra_css %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.0/css/bootstrap.min.css"
        integrity="sha512-XWTTruHZEYJsxV3W/lSXG1n3Q39YIWOstqvmFsdNEEQfHoZ6vm6E9GK2OrF6DSJSpIbRbi+Nn0WDPID9O7xB2Q=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="{% static '/static_group1/css/base.css' %}">
    {% endblock %}

    {% block font_awesome %}
    <link rel="stylesheet" href="{% static 'static_group1/css/font-awesome.min.css'%}">
    {% endblock %}


    <title>Home-Taste - {% block title %}{% endblock %}</title>
</head>

<body>
    <!-- Start Nav Bar Section using Bootstrap5 -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="#">HOME-TASTE</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto mb-2">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'home' %}">HOME</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">CHEFS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">LOGIN</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">REGISTER</a>
                    </li>
                </ul>
                <!-- Form For Search bar -->

            </div>
        </div>
    </nav>
    <!-- End Nav Bar Section using Bootstrap5 -->


    <!-- start content section -->
    {% block content %}

    {% endblock content %}
    <!-- end content section -->


    <!-- Start footer -->

    <!-- endfooter -->






    {% block onload_js %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.0/js/bootstrap.min.js"
        integrity="sha512-8Y8eGK92dzouwpROIppwr+0kPauu0qqtnzZZNEF8Pat5tuRNJxJXCkbQfJ0HlUG3y1HB3z18CSKmUo7i2zcPpg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    {% endblock %}
</body>

</html>