/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Oswald:wght@200..700&display=swap');

/* global scope variables */
:root {
    --title: 'Oswald', serif;
    --main-font: 'Arimo', serif;
    --main-color: rgb(33, 37, 41)
}

/* global rules */
html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    font-family: var(--main-font);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--title);
}

main {
    flex: 1 0 auto;
    background-color: white;
}

/* start landing section */
.landing {
    background: url(../images/landing.jpg) no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    background-position: 50% 50%;
}

.landing h1 {
    font-weight: 700;
    color: var(--main-color);
}

.landing h5 {
    color: var(--,--main-color);
}

.landing .btn-signup {
    height: 45px;
    width: 35%;
    border: none;
    outline: none;
    background-color: var(--main-color);
    font-weight: 700;
    color: white;
    border-radius: 60px;
}
/* end landing section */